:root {
    --primary-color: #522f1f;
    --secondary-color: #ea8b82;
    --third-color: #fff5eb;
    --accent-color: #fdcb2a;
    --form-ok-color: #4caf50;
    --form-error-color: #f44336;
  }
  html{
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--third-color);
  }
  
  main {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2.5rem;
    width: 100%;
    min-height: calc(100vh - 70px);
  }

  main > h1{
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: bold;
  }

  main > p{
    color: var(--primary-color);
    max-width: 700px;
  }

  .arma-tu-pastel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .arma-tu-pastel .opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
  }

  .arma-tu-pastel .opciones .field-form .opcion{
    text-align: center;
    background-color: #d0cfcf;
    color: #666666;
    padding: 15px 30px;
    margin: 5px 0;
    border: none;
    width: 140px;
    font-weight: bold;
    margin-left: -15px;
    -webkit-clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 15% 50%, 0% 0%);
    user-select: none;
  }

  .arma-tu-pastel .opciones .field-form .opcion1{
    -webkit-clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 0 51%, 0% 0%);
    clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 0 51%, 0% 0%);
  }

  .field-form > input[type="radio"]:checked + .opcion{
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-weight: bold;
  }

  .armar-pastel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
    max-width: 100%;
    width: 100%;
  }

  .contenedor-lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    min-width: 280px;
    border-radius: 10px;
    padding: 1.5rem;
  }

  .contenedor-lista > h2{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.5rem;
  }

  #lista-ingredientes{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }


  #lista-ingredientes > input[type="radio"] + label{
    width: calc(100% + 30px);
    border: none;
    background-color: #d0cfcf;
    color: #666666;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
}

#lista-ingredientes > input[type="radio"] + label::before{
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.207);
}

#lista-ingredientes > input[type="radio"]:checked + label{
  background-color: var(--accent-color);
  color: var(--primary-color);
}

#lista-ingredientes > input[type="radio"]:checked + label::after{
  content: "✓";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 30px;
  width: 30px;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.form-opciones{
  width: 100%;
}

.pastel{
  position: relative;
  width: 100%;
  min-height: 300px;
  max-width: 350px;
  overflow: hidden;
  height: max-content;
}

.sombras, .colores, .colores > svg{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.sombras > img, .colores > svg{
    width: 100%;
    
}

.colores > svg > #coberturaPastel{
    fill: #603f22;
    transition: fill 0.2s ease-in;
}
.colores > svg > #rellenoPastel{
    fill: #f7e28e;
    transition: fill 0.2s ease-in;
}
.colores > svg > #masaPastel{
    fill: #c9802a;
    transition: fill 0.2s ease-in;
}

#lista-tu-pastel{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

#lista-tu-pastel li{
  color: var(--primary-color);
}

#lista-tu-pastel li span:first-child{
    font-weight: bold;
}

/*Estilos formulario cotización*/
.form-container-cotizacion{
  width: 100%;
  max-width: 450px;
  padding: 25px;
  border-radius: 10px;
  display: grid;
  place-content: center;
  color: var(--primary-color);
  gap: 15px;  
  height: max-content;
}

.acciones{
  display: flex;
  gap: 25px;
  justify-content: space-around;
  margin-top: 30px;
}
.form-container-cotizacion .button{
  min-width: 150px;
}

#form-cotizacion{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fieldForm{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.imagen > .label-imagen{
  width: 100%;
  display: grid;
  place-content: center;
  border: 1px solid gray;
  margin-bottom: 0;
  border-radius: 5px;
  padding: 20px;
}

.imagen > span:last-child{
  margin-bottom: 1rem;
  max-width: 500px;
}
.imagen > .label-imagen > img{
  height: 100%;
  max-height: 100px;
}

#form-cotizacion > input,
#form-cotizacion >  textarea{
padding: 0.5rem;
font-size: small;
margin-bottom: 1rem;
border: 1px solid gray;
border-radius: 5px;
outline-color: gray;
background-color: transparent;
}

#form-cotizacion label{
  font-weight: bold;
}

#form-cotizacion > textarea{
  min-height: 140px;
  outline: none;
  border: none;
  resize: none;
}

.backdrop{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 70px;
  left: 0;
  background-color: #522f1f74;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.backdrop > .popup{
  background-color: white;
  max-width: 550px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 10px 10px 25px #522f1f2d;
  color: var(--primary-color);
  gap: 15px;
}

.backdrop > .popup h2{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.acciones{
  display: flex;
  justify-content: space-around;
}
.backdrop > .popup .button{
  min-width: 150px;
}

@media screen and (max-width: 990px) {
  .armar-pastel{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "pastel pastel"
    "listaIngredientes listaPastel";
    align-items: flex-start;
    justify-items: center;
    max-width: 100%;
    height: auto;
  }
  
  .contenedor-lista-opciones{
    grid-area: listaIngredientes;
  }
  
  .pastel{
    grid-area: pastel;
    height: 300px;
  }
  
  .contenedor-lista-tu-pastel{
    grid-area: listaPastel;
  }

  .display-cotizar{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media screen and (max-width: 515px) {
  .armar-pastel{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "pastel"
    "listaIngredientes" 
    "listaPastel";
    place-items: center;
    gap: 0;
  }
    
  .contenedor-lista-opciones{
    grid-area: listaIngredientes;
  }
    
  .pastel{
    grid-area: pastel;
    max-height: 200px;
  }
    
  .contenedor-lista-tu-pastel{
    grid-area: listaPastel;
  }

  .display-cotizar{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}



