@import url('https://fonts.google.com/specimen/Fredoka?query=fredoka+&preview.size=32');

:root{
    --primary-color: #522f1f;
    --secondary-color: #ea8b82;
    --third-color: #fff5eb;
    --accent-color: #fdcb2a;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  font-family: 'Fredoka', sans-serif;
}

main{
    background-color: var(--third-color);
    margin-top: 70px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 70px);
}

main > h1{
    color: var(--secondary-color);
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 30px;
}

main > .tabla-container{
    background-color: white;
    border-radius: 10px;
    padding: 0 20px;
    box-shadow: 10px 10px 25px #522f1f2d
}

main > .tabla-container{
    background-color: #fff;
    color: var(--primary-color);
    overflow: hidden;
    border-radius: 10px;
}

.tabla-carrito > thead{
    border-bottom: solid 2px #F5F3F2;
    height: 60px;
}

tbody, thead{
    padding: 0 35px;
}

tr{
    vertical-align: middle;
}

tbody > tr:hover{
    background-color: #F5F3F2;
}

td, th{
    text-align: center;
    vertical-align: center;
    padding: 10px;
}

.porcion-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.borrar{
    min-width: 50px !important;
}
.boton-borrar{
    cursor: pointer;
}

.imagen{
    width: 60px;
}

.total{
    background-color: #F5F3F2;
    border-top: solid 2px white;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
}

.total > span:first-child{
    margin-right: 15px;
}

main > div > .buttons{
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    margin: 50px 25px 25px 25px;
}
.backdrop{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 70px;
    left: 0;
    background-color: #522f1f74;
    display: grid;
    place-content: center;
}
.backdrop > .popup{
    background-color: white;
    max-width: 550px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 10px 10px 25px #522f1f2d;
    display: grid;
    place-content: center;
    color: var(--primary-color);
    gap: 15px;
}

.backdrop > .popup h2{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.acciones{
    display: flex;
    justify-content: space-around;
}
.backdrop > .popup .button{
    min-width: 150px;
}