@import url('https://fonts.google.com/specimen/Fredoka?query=fredoka+&preview.size=32');

:root{
    --primary-color: #522f1f;
    --secondary-color: #ea8b82;
    --third-color: #fff5eb;
    --accent-color: #fdcb2a;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  font-family: 'Fredoka', sans-serif;
}

main{
    background-color: var(--third-color);
    margin-top: 70px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > h1{
    color: var(--secondary-color);
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 30px;
}


.buttons-category{
    display: flex;
    justify-content: center;
    gap:40px;
}

.seccion-productos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: auto;
    gap:2rem;
    padding: 35px 0;
}

.card-productos{
    background-color: white;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 30px #522f1f38;
}

.card-productos > img{
    height: 200px;
}

.card-productos h3{
    color: var(--primary-color);
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.5em;
}

.card-productos > p{
    color: var(--primary-color);
    font-size: .9em;
    margin: 0;
}

.card-productos > span{
    font-size: 21px;
    color: var(--primary-color);
    font-weight: bold;
}

.card-productos > div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: .5em;
}