@import url('https://fonts.google.com/specimen/Fredoka?query=fredoka+&preview.size=32');

:root {
  --primary-color: #522f1f;
  --secondary-color: #ea8b82;
  --third-color: #fff5eb;
  --fourth-color: #422619;
  --accent-color: #fdcb2a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  font-family: 'Fredoka', sans-serif;
}

html {
  scroll-behavior: smooth;
}


.bg-dark {
  background-color: var(--primary-color) !important;
}

.img_logo {
  height: 64px;
}

.dropdown-menu {
  width: fit-content;
  background-color: var(--fourth-color);
  border: none;
  border-radius: 5px;
}

.dropdown-item {
  color: var(--third-color);
}

.dropdown-item:hover {
  background-color: transparent;
  color: orange;
}

.dropdown-item.active {
  color: var(--accent-color);
  text-decoration: none;
  background-color: transparent;
}


.dropdown-toggle.active {
  color: var(--third-color);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 0.5rem;
}

.navbar-light .navbar-brand {
  color: var(--third-color);
}

.navbar-light .navbar-brand:hover {
  color: var(--accent-color);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--third-color);
}


.navbar-light .navbar-nav .nav-link.active {
  color: var(--accent-color);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--accent-color);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: var(--third-color);
}

.navbar {
  height: 70px;
  width: 100% !important;
  position: fixed !important;
  z-index: 999;
  top: 0;
  padding: 0 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand img {
  width: 75px;
  object-fit: cover;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center !important;
}

.navbar-nav {
  gap: 25px;
}

.nav-link {
  font-size: 20px;
}

.navbar-light .navbar-toggler-icon {
  color: var(--secondary-color) !important;
}

.login-btn {
  display: flex;
  align-items: center;
  margin: 0;
}

.login-btn a:hover {
  color: var(--accent-color);
}

.login-btn a {
  text-decoration: none;
  font-family: 'Fredoka', sans-serif;
  font-size: 20px;
  color: var(--third-color);

}

.register-btn{
  display: flex;
  align-items: center;
  margin: 0;
}

.register-btn a:hover{
  color: var(--accent-color);
}

.register-btn a{
  text-decoration: none;
  font-family: 'Fredoka', sans-serif;
  font-size: 20px;
  color: var(--third-color);
}

.fa {
  font-size: x-large;
}

.logo-footer {
  width: 80px;
}

.btn-link {
  color: white;
  transition: all 0.15s ease-in;
}

.btn-link:hover {
  color: var(--accent-color) !important;
  scale: 1.2;
}

.button {
  border-radius: 8px;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border: solid 2px transparent;
  background-color: var(--accent-color);
  color: var(--primary-color);
  transition: all 0.15s ease-in;
  user-select: none;
}

.button:hover {
  scale: 1.1;
}

.button:active {
  scale: 0.9;
}

.button-disabled {
  background-color: #d0cfcf;
  color: #666666;
}


.button-border {
  border-radius: 8px;
  padding: 10px 25px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  border: solid 2px var(--accent-color);
  background-color: transparent;
  color: var(--primary-color);
  transition: all 0.2s ease-in;
  user-select: none;
}

.button-border:hover {
  scale: 1.1;
}

.button-border:active {
  scale: 0.9;
}

.button-xs {
  padding: 7px 15px;
  font-size: 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--third-color) inset !important;
}

@media screen and (max-width: 991px) {
  .navbar-nav {
    position: absolute;
    top: 52px;
    right: 72px;
    background-color: var(--fourth-color);
    border: none;
    border-radius: 10px;
    width: fit-content;
    padding: 20px;
    gap: 7px !important;
  }

  .nav-link {
    color: var(--third-color) !important;
    font-size: 1.2em !important;
    padding: 0 !important;
    border-radius: 5px;
  }

  .nav-link:hover {
    color: var(--accent-color) !important;
  }

  .nav-link.active {
    color: var(--accent-color) !important;
  }

  .navbar-toggler {
    border: none !important;
    box-shadow: none !important;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url(../assets/svg/menu.svg) !important;
  }

  .navbar-light .navbar-toggler-icon:focus {
    box-shadow: 0 0 0 transparent !important;
  }

  .dropdown-menu {
    width: fit-content;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
}

  .login-btn {
    font-size: 1.2em !important;
    margin: 0;
  }

  .register-btn{
    font-size: 1.2em !important;
    margin: 0;
  }

}
.hidden{
  display: none !important;
}

#user{
  position: relative;
  display: flex;
}

#user .name{
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  user-select: none;
}

#user .name > div:active,
#user .name > i:active
{
  scale: 0.98;
}

#user .name div{
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 20px;
}

#user .name i{
  color: white;
  font-size: 23px;
}

#user > .user-menu{
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: max-content;
  width: max-content;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--fourth-color);
}
#user > .user-menu > a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

footer{
  width: 100%;
}