:root{
    --primary-color: #522f1f;
    --secondary-color: #ea8b82;
    --third-color: #fff5eb;
    --accent-color: #fdcb2a;
}

html{
    scroll-behavior: smooth;
}

.bg-dark {
    background-color: var(--primary-color)!important;
}

.navbar-light .navbar-brand {
    color: var(--third-color);
  }
  
  .navbar-light .navbar-brand:hover{
    color: var(--accent-color);
  }
  
  .navbar-light .navbar-nav .nav-link {
    color:  var(--third-color);
    
  }
  
  .navbar-light .navbar-nav .nav-link{
    color:  var(--third-color);
    
  }
  
  .navbar-light .navbar-nav .nav-link.active{
    color: var(--accent-color);
  }
  
  .navbar-light .navbar-nav .nav-link:hover{
    color: var(--accent-color);
  }

  .navbar{
    height:  100px;
    width: 100% !important;
    position: fixed !important;
    z-index: 5;
    top: 0;
  }
  
  .navbar-brand img{
    width: 115px;
    object-fit: cover;
  }
  
  .navbar-expand-lg .navbar-collapse{
    justify-content: center !important;
  }
  
  .navbar-nav{
    gap: 25px;
  }
  
  .nav-link{
    font-size: 25px;
  }
  
  .navbar-light .navbar-toggler-icon{
    color: var(--secondary-color) !important;
  }

.button{
    border-radius: 8px;
    padding: 10px 25px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    border: solid 2px transparent;
    background-color: var(--accent-color);
    color: var(--primary-color);
    transition: all 0.2s ease-in;
}

.button:hover{
    scale: 1.1;
}

.button:active{
    scale: 0.9;
}

@media screen and (max-width: 992px) {
    .navbar-nav{
      position: absolute;
      top: 70px;
      right: 55px;
      background-color: var(--primary-color);
      border: solid 2px var(--secondary-color);
      border-radius: 10px;
      width: fit-content;
      padding: 20px;
      gap: 7px !important;
    }
  
    .nav-link{
      color: var(--third-color) !important;
      font-size: 1.2em !important;
      padding: 0 !important;
      border-radius: 5px;
    }
  
    .nav-link:hover{
      color: var(--accent-color) !important;
    }
  
    .nav-link.active{
      color: var(--accent-color) !important;
    }    
    .navbar-toggler {
      color: var(--secondary-color) !important;
      border-color: var(--secondary-color) !important;
    }
  }

