:root{
    --primary-color: #522f1f;
    --secondary-color: #ea8b82;
    --third-color: #fff5eb;
    --accent-color: #fdcb2a;
}

body{
    background-color: var(--third-color);
}

/*seccion contactanos*/


 #contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    padding: 30px;
    padding-top: 135px;
}
 .titulo-seccion{
    color: #d09030;
    text-align: center;
    font-size: 40px;
  }

  .contacto__form{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
  }

  .contacto__form .row{
    display: flex;
    gap: 2rem;
  }

  @media (max-width: 768px){
    .contacto__form .row{
        flex-wrap: wrap;
    }
  }

  .contacto__form .row input,
  .contacto__form  textarea{
    padding: 1.3rem 2rem;
    border: none;
    border-radius: .5rem;
    background-color: #eeeeee;
    outline: none;
    box-shadow: 4px 4px 12px #30303096, -5px -5px 3px 0 #fff;
  }

  .contacto__form  textarea{
    padding: 2rem;
    width: 100%;
    resize: none;
  }

  .contacto__form .btn-enviar{
    border: none;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: white;
    box-shadow: 4px 4px 4px 0 #30303096, -5px -5px 3px 0 #fff;
    padding: 1rem 2rem;
    border-radius: .5rem;
  }

  .contacto__form .btn-enviar:hover{
    cursor: pointer;
    filter: brightness(1.2);
    color: var(--secondary-color);
    transition: transform 400ms linear;
    transform-origin: left bottom;
    transform: scale(1.02);
  }
  
 
  .p-form {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .p-principal {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }