:root {
  --primary-color: #522f1f;
  --secondary-color: #ea8b82;
  --third-color: #fff5eb;
  --accent-color: #fdcb2a;
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
}
html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--third-color);
}

main {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2.5rem;
}
/*seccion contactanos*/

#contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
  padding: 30px;
  max-width: 500px;
}

.titulo-seccion {
  color: var(--secondary-color);
  font-weight: bold;
  text-align: start;
  width: 100%;
  font-size: calc(2em + 1vw);
}

#contacto > p{
  width: 100%;
  color: var(--primary-color);
}

.contacto__form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 35px;
}

.row > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacto__form .row {
  display: flex;
  gap: 2.5rem;
}


.contacto__form .row input,
.contacto__form textarea {
  background-color: transparent !important;
  padding: .8rem;
  border: none;
  border-radius: 10px;
  outline: none;
  border: solid 1px gray;
  width: 90%;
  font-size: .85em;
}

::placeholder {
  background-color: transparent !important;
}

.row > div {
  position: relative;
  padding: 0;
}
.row label {
  background-color: var(--third-color);
  position: absolute;
  top: -0.8em;
  left: .8em;
  padding: 0 10px;
  color: var(--primary-color);
  font-weight: bold;
  font-size: .9em;
  border-radius: 15px;
}

.contacto__form textarea {
  resize: vertical;
}

.button{
  width: 90%;
}

.contacto__form [required]:valid {
  border: thin solid var(--form-ok-color);
}

.contacto__form [required]:invalid:focus {
  border: thin solid var(--form-error-color);
}

.contacto__form-error {
  margin-left: 1rem;
  font-size: 80%;
  color: var(--form-error-color);;
  transition: all 800ms ease;
}

.contacto__form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

.informacion{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 2.5rem;
  min-height: 100%;
  max-width: 500px;
}

.informacion > img{
  width: 100%;
  object-fit:contain;
  border-radius: 10px;
}

#datos-info{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
}

.dato{
  display: flex;
  gap: 1rem;
}

.dato > img{
  height: 25px;
}

.dato > p{
  color: var(--primary-color);
  font-size: 1rem;
  margin: 0;
}


