@import url('https://fonts.google.com/specimen/Fredoka?query=fredoka+&preview.size=32');

:root{
    --primary-color: #522f1f;
    --secondary-color: #ea8b82;
    --third-color: #fff5eb;
    --accent-color: #fdcb2a;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  font-family: 'Fredoka', sans-serif;
}

body{
  background-color: var(--third-color);
  width: 100vw;
}

header{  
  position: relative;
  background-color: var(--primary-color);
  min-height: calc(100vh - 100px);
  margin-top: 100px;
}

#header-container{
  display: flex;
  gap: 3em;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 2;
  padding-top: 5em;
  flex-wrap: wrap-reverse;
}

#header-container img {
  max-width: 400px;
  width: 60vw;
  object-fit: cover;
  filter: drop-shadow(0 0 30px #1d1312a9);
}

#descripcion-header{
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  height: 100%;
}

#descripcion-header h1{
  color: var(--third-color);
  font-size: 3em;
}

#descripcion-header h1 span{
  color: var(--secondary-color);
  font-weight: bold;
}

#descripcion-header p{
  color: var(--third-color);
  font-size: 1.5em;
  max-width: 900px;
}

#descripcion-header > button{
  align-self: center;
  margin-top: 2.5em;
}

.clipped{
  background-image: url(../assets/img/clipped-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  height: 550px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  -webkit-clip-path: url(#clip-path);
  clip-path: url(#clip-path);
}

main{
  padding: 40px;
  display:flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

/*Estilos sección Quienes somos- Edward*/
#descripcion{
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 30px;
  justify-content: center;
}

.description-container{
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  width:50em;
}

.description-container > h2{
    color: var(--primary-color);
    font-weight: bold;
}

.description-container > h3{
    font-weight: bold;
    color: var(--primary-color);
}

.description-container > p{
  color: var(--primary-color);
    margin: 0;
    font-size: 1.1em;
}

.description-container > button{
  align-self: center;
}

#descripcion > img{
  max-width: 400px;
  width: 60vw;
  filter: drop-shadow(0 0 20px var(--secondary-color));
}


.division{
  border: solid 2px var(--secondary-color);
}

/* estilo seccion creadores*/
.creadores{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; /*espacio entre los hijos del contenedor.*/
    width: 100%;
  }

  .creadores h2{
    width: 100%;
    color: var(--primary-color);
    margin: 0;
    font-weight: bold;
  }

  .creadores p{
    color: var(--primary-color);
    margin: 0;
    font-size: 1.2em;
  }


#cards-creadores{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 30px;
  }
  /*estilo articulos card*/
.card_nosotros{
    width: 300px;
    max-height: 500px; /*ajusta el alto del contenido al tamaño de la caja*/
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 15px;
  }

  /*estilos img card*/
.card_nosotros > img{
  width: 250px;
  height: 260px; /* para no dañar la imagen*/
}
.descripcion-integrantes{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;  
  border-radius: 10px;
  max-height: 270px;
}

.descripcion-integrantes > h3{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: var(--primary-color);
    margin: 0;
  }
  .descripcion-integrantes > h4{
    font-size: 1.4em;
    text-align: center;
    color: var(--primary-color);
    margin: 0;
  }

.descripcion-integrantes > p{
  height: 100px;  
  overflow: hidden;
  margin: 0;
  }
.iconos-card{
  display: flex;
  gap: 30px;
}

.iconos-card img{
  width: 30px;
  object-fit: cover;
}
footer{
  width: 100% !important;
}

