@import url('https://fonts.google.com/specimen/Fredoka?query=fredoka+&preview.size=32');

:root{
    --primary-color: #522f1f;
    --secondary-color: #ea8b82;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  font-family: 'Fredoka', sans-serif;
}



/* Estilos de Navbar */
.navbar{
  height:  100px;
  width: 100% !important;
}

.bg-dark {
  background-color: var(--primary-color)!important;
}

.navbar-light .navbar-brand {
  color: hsl(0, 10%, 94%);
}

.navbar-light .navbar-brand:hover{
  color: rgb(216, 129, 22);
}

.navbar-light .navbar-nav .nav-link {
  color:  hsl(0, 10%, 94%);
  
}

.navbar-light .navbar-nav .nav-link{
  color:  hsl(0, 10%, 94%);
  
}

.navbar-light .navbar-nav .nav-link.active{
  color: #ff9800;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: rgb(216, 129, 22);
}

body{
  background-color: #fff5eb;
  width: 100vw;
}

main{
  padding: 40px;
  display:flex;
  flex-direction: column;
  gap: 45px;
  width: 100%;
  box-sizing: border-box;
}

/*Estilos sección Quienes somos- Edward*/
#descripcion{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}
#quienes-somos{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: 300px;
    align-content: center;
}
#quienes-somos img{
  height: 100%;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.contenedor-descripcion{
  border: solid 1px black;
  padding: 20px;
  max-width: 1200px;  
  border-radius: 10px;
  height: 100%;
}

.contenedor-descripcion h2, p{
  color: var(--primary-color);
}

#que-hacemos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 300px;
}

#que-hacemos img{
  height: 100%;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
}



/* estilo seccion creadores*/
.creadores{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; /*espacio entre los hijos del contenedor.*/
    width: 100%;
  }

  .creadores h1{
    background-image: ;
    background-color: var(--primary-color);
    width: 100%;
    clip-path: polygon(100% 0, 98% 50%, 100% 100%, 0 100%, 2% 50%, 0 0);
    color: #fff5eb;
    text-align: center;
    margin: 0;
  }


#cards-creadores{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 30px;
  }
  /*estilo articulos card*/
.card_nosotros{
    width: 300px;
    max-height: 500px; /*ajusta el alto del contenido al tamaño de la caja*/
    display: flex;
    flex-direction: column; 
    align-items: center;
    border-radius: 10px;
    gap: 15px;
  }

  /*estilos img card*/
.imagen-card-nosotros{
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center ;
}
.imagen-card-nosotros > img{
  width: 200px;
  object-fit: cover; /* para no dañar la imagen*/
  border-radius: 50%;
}
.descripcion-integrantes{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;  
  border: solid 1px var(--primary-color);
  border-radius: 10px;
  max-height: 270px;
}

.descripcion-integrantes > h2{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: var(--primary-color);
    margin: 0;
  }
  .descripcion-integrantes > h3{
    font-size: 1.4em;
    text-align: center;
    color: var(--primary-color);
    margin: 0;
  }

.descripcion-integrantes > p{
  height: 100px;  
  overflow: hidden;
  margin: 0;
  }
.iconos-card{
  display: flex;
  gap: 30px;
}

.iconos-card img{
  width: 30px;
  object-fit: cover;
}
footer{
  width: 100% !important;
}