
/* Estilos para el formulario de perfil */
.containerForm {
  max-width: 600px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para la foto de perfil */
.foto-perfil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.foto-perfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos para los campos de formulario */
.containerForm div {
  position: relative;
  margin-bottom: 20px;
}


.containerForm label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #888;
  pointer-events: none;
  transition: all 0.3s ease-out;
  line-height: end;
}
input[type="text"], input[type="date"], input[type="tel"], input[type="email"] {
  font-size: 1.2rem;
  padding: 0.3rem 0.5rem;
  margin: 0.5rem 0;
}

.containerForm input {
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
  line-height: end;
}

.containerForm input:focus {
  outline: none;
  border-bottom: 2px solid #3498db;
}




/* Estilos para los botones */
.containerForm input[type="button"], .containerForm input[type="submit"] {
  border: none;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #522f1f;
  background-color: #fdcb2a;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

