@import url('https://fonts.google.com/specimen/Fredoka?query=fredoka+&preview.size=32');

:root {
    --primary-color: #522f1f;
    --secondary-color: #ea8b82;
    --third-color: #fff5eb;
    --fourth-color: #422619;
    --accent-color: #fdcb2a;
}


header {
    background-color: var(--third-color);    
    
}

body {
    min-height: calc(100vh - 70px);
    margin-top: 100px;
    height: auto;
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--third-color);
}



.form-holder {
    display: flex;
    flex-direction: column;
    position:relative;
    z-index: 2;
    margin-top: 0;
    justify-content:center;
    align-items:center;
    text-align: center;
    
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid var(--fourth-color);
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: var(--fourth-color);
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: var(--fourth-color);
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}

.form-content label,
.was-validated .form-check-input:invalid~.form-check-label,
.was-validated .form-check-input:valid~.form-check-label {
    color: var(--fourth-color);
}

.form-content input[type="text"],
.form-content input[type="password"],
.form-content input[type="email"],
.form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 300;
    color: var(--fourth-color);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}

option {
    background-color: var(--third-color);
}

option:hover {
    background-color: var(--third-color);
}

.form-button.mt-3 {
    width: 350px;
    display: inline-block;
    margin-top: 10px;
}

.btn-primary {
    background-color: var(--fourth-color);
    outline: none;
    border: 0px;
    box-shadow: none;
    height: 2.5rem;
    width: 25%;
    color: var(--third-color);
    border-radius: 10px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: var(--accent-color);
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: var(--fourth-color);
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8d8d8d;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover,
.form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color:var(--fourth-color);    
}

.mv-up {
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback {
    color: #ff606e;
}

.valid-feedback {
    color: #2acc80;
}