@import url('https://fonts.google.com/specimen/Fredoka?query=fredoka+&preview.size=32');

:root {
    --primary-color: #522f1f;
    --secondary-color: #ea8b82;
    --third-color: #fff5eb;
    --fourth-color: #422619;
    --accent-color: #fdcb2a;
}


header {
    background-color: var(--third-color);    
    
}

body {
    min-height: calc(100vh - 70px);
    margin-top: 100px;
    height: auto;
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--third-color);
}

main{    
    padding: 20px;
}

main > h1 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
}

.form-content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.form-content .form-items {
    max-width: 450px;
    border: 1px solid var(--primary-color);
    padding: 30px;
    display: inline-block;
    width: 100%;
    min-width: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content p {
    color: var(--primary-color);
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.form-content label,
.was-validated .form-check-input:invalid~.form-check-label,
.was-validated .form-check-input:valid~.form-check-label {
    color: var(--fourth-color);
}

.form-content input[type="text"],
.form-content input[type="password"],
.form-content input[type="email"],
.form-content select {
    min-width: 100% !important;
    padding: 9px 20px;
    text-align: left;
    border: solid 1px var(--primary-color);
    background-color: transparent;
    outline: 0;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 300;
    color: var(--fourth-color);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 0
    box-shadow: none;
}

option {
    background-color: var(--third-color);
}

option:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.invalid-feedback {
    color: #ff606e;
}

.valid-feedback {
    color: #2acc80;
}

.requires-validation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 100%;
    margin-top: 2em;
}

.requires-validation > div {
    width: 100%;
    position: relative;
    padding: 0
}

.requires-validation label{
background-color: var(--third-color);
  position: absolute;
  top: 0;
  top: -0.8em;
  left: .8em;
  padding: 0 10px;
  color: var(--primary-color);
  font-weight: bold;
  font-size: .9em;
  border-radius: 15px;
}

.button{
    width: 100%;
}

.contacto__form-error {
    margin-left: 1rem;
    font-size: 80%;
    color: red;
    transition: all 800ms ease;
  }
  
  .contacto__form-error.is-active {
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
  }
  
  .none {
    display: none;
  }
  
  @keyframes show-message {
    0% {
      visibility: hidden;
      opacity: 0;
    }
  
    100% {
      visibility: visible;
      opacity: 1;
    }
  }

